.op {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
    "wdth" 100;    
    font-size: 20px;
    line-height: 30px;
}
.lo {
    text-decoration: line-through;
}
.ho {
    font-size: 20 px;
    text-align: center;
}
.ko {
    text-shadow: 1px 1px 2px rgb(119, 0, 255) ;
    word-spacing: 30px;
    text-decoration: overline; /* Показывает линию над текстом */
    text-decoration-style: wavy; /* Задает волнистый стиль */
}
.yo {
    letter-spacing: 5px;
    text-decoration: underline;
}