header {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    border-bottom: 1px solid rgb(146, 146, 146);
}

img {
    max-width: 40px;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    color: #000;
    cursor: pointer;
}

.tel {
    text-decoration: none;
}

