.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.phone {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: rgb(161, 161, 152);
}

.phone p {
    margin-bottom: 8px;
}

.phone-link {
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

.phone-link:hover {
    color: aqua;
}