table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    border: 1px solid black;
    border-bottom: none ;
    font-weight: 600;
}

td, tr {
    border: 1px solid black;
}

.weekend {
    color: red;
}
