form {
    width: 300px;
    margin: 20px;
}

legend {
    font-size: large;
    font-weight: 700;
}

fieldset {
    border-radius: 10px;
}

label {
    display: inline-block;
    padding: 5px;

}

input {
    border-radius: 5px;
    width: 200px;
}

textarea {
    resize: vertical;
    width: 200px;
    max-height: 100px;
    border-radius: 5px;
}

button {
    background-color: rgb(216, 216, 216);
    border: none;
    border-radius: 5px;
}

.checkbox {
    width: 10px;
}